
@{
    ViewData["Title"] = "Машинное обучение Бишкек, Искусственный интеллект Бишкек, Машинное обучение Кыргызстан, Искусственный интеллект Кыргызстан";

}

<br />
<h1 class="text-center" style="font-weight:bolder">
    Esepte Gender
</h1>
<h4 class="text-center" style="font-weight:normal">Разпознавание пола человека на фотографии</h4>
<br />

<p class="text-center p-2">
    <span class="btn btn-sm border bg-white">М</span>
    <span class="btn btn-sm border bg-white">Ж</span>
</p>

<br />
@*<h2>Результат</h2>*@


<div class="d-flex justify-content-center">
    @if (ViewBag.Results != null)
    {
        <div class="btn-group" role="group" aria-label="Basic example">
            @foreach (Model item in ViewBag.Results)
            {

                if (String.IsNullOrEmpty(item.TypeRU))
                {
                    <span data-toggle="collapse" data-target="#@item.Id" aria-expanded="true" aria-controls="collapseOne">
                        <button class="btn btn-sm btn-outline-success"> - </button>
                    </span>
                }
                else
                {
                    <span data-toggle="collapse" data-target="#@item.Id" aria-expanded="true" aria-controls="collapseOne">
                        <button class="btn btn-sm btn-outline-success">@item.TypeRU</button>
                    </span>
                }
            }
        </div>
    }
</div>
<div class="m-3 p-2 shadow-sm border rounded accordion" id="accordionExample">
    @if (ViewBag.Results != null)
    {
        @foreach (Model item in ViewBag.Results)
        {
            <div id="@item.Id" class="collapse" aria-labelledby="@item.Id" data-parent="#accordionExample">
                <p class="d-flex justify-content-center">
                    <img src="@item.ImageLink" class="img-fluid rounded" style="width: 320px; height: 360px;object-fit:cover;" />
                </p>
            </div>
        }
    }
</div>



<br />
<br />


<form asp-action="Recognize" asp-controller="Gender" method="post" enctype="multipart/form-data">
    <div class="text-center">
        <input type="file" name="uploads" multiple accept="image/*" />
        <input type="submit" class="btn btn-outline-success" value="Готово" />
    </div>
</form>

<br />