@{
    ViewData["Title"] = "Машинное обучение Бишкек, Искусственный интеллект Бишкек, Машинное обучение Кыргызстан, Искусственный интеллект Кыргызстан";
}




<br />
<h3>
    Как использовать веб-сервис?
</h3>
<br />
<p>
    Вам нужно всего лишь сделать запрос:
</p>
<p>
    <code class="text-success">http://api.esepte.com/НАЗВАНИЕ_СЕРВИСА?imageLink=ССЫЛКА_НА_ИЗОБРАЖЕНИЕ</code>
</p>
<p>
    В ответ вы получаете:
</p>
<p>
    <code class="text-success">"{"typeRU": "КАТЕГОРИЯ"}"</code>
</p>