@{
    ViewData["Title"] = "Машинное обучение Бишкек, Искусственный интеллект Бишкек, Машинное обучение Кыргызстан, Искусственный интеллект Кыргызстан";
}
<br />
<br />





<br />
<br />
<h4 class="text-center text-muted" id="aboutUs">
    О нас
</h4>
<br />
<hr />
<br />

<p style="font-size: 18px" class="text-center">
    Мы найдем лучшее применение машинного обучения для вашего бизнеса
</p>

<br />
<hr />
<br />
<br />
<h4 class="text-center text-muted"  id="ourServices">
    Наши услуги
</h4>
<br />
<hr />
<br />

<ul style="list-style-type:none">
    <li data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor('a')" id="a">Разработка</h5></li>
    <li data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor('b')" id="b">Внедрение</h5></li>
    <li data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor('c')" id="c">Поддержка</h5></li>
    <li data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor('d')" id="d">Развитие</h5></li>
</ul>
<br />


<div class="m-3 p-2 shadow-sm border rounded accordion" style="height: 120px;" id="accordionExample">

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <p class="text-center p-2">
            <span style="font-size: 18px; font-weight:normal">Разработка машинного обучения для</span> <br /><br />
            <span class="btn btn-sm border bg-white">Сайтов</span>
            <span class="btn btn-sm border bg-white">Мобильных приложений</span>
            <span class="btn btn-sm border bg-white">Инфосистем</span>
            <span class="btn btn-sm border bg-white">Программных обеспечений</span>
            <span class="btn btn-sm border bg-white">Роботов</span>
        </p>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <p class="text-center p-2">
            <span style="font-size: 18px; font-weight:normal">Внедрение машинного обучения для</span> <br /><br />
            <span class="btn btn-sm border bg-white">Сайтов</span>
            <span class="btn btn-sm border bg-white">Мобильных приложений</span>
            <span class="btn btn-sm border bg-white">Инфосистем</span>
            <span class="btn btn-sm border bg-white">Программных обеспечений</span>
            <span class="btn btn-sm border bg-white">Роботов</span>
        </p>
    </div>

    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <p class="text-center p-2">
            <span style="font-size: 18px; font-weight:normal">Поддержка машинного обучения для</span> <br /><br />
            <span class="btn btn-sm border bg-white">Сайтов</span>
            <span class="btn btn-sm border bg-white">Мобильных приложений</span>
            <span class="btn btn-sm border bg-white">Инфосистем</span>
            <span class="btn btn-sm border bg-white">Программных обеспечений</span>
            <span class="btn btn-sm border bg-white">Роботов</span>
        </p>
    </div>

    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <p class="text-center p-2">
            <span style="font-size: 18px; font-weight:normal">Развитие машинного обучения для</span> <br /><br />
            <span class="btn btn-sm border bg-white">Сайтов</span>
            <span class="btn btn-sm border bg-white">Мобильных приложений</span>
            <span class="btn btn-sm border bg-white">Инфосистем</span>
            <span class="btn btn-sm border bg-white">Программных обеспечений</span>
            <span class="btn btn-sm border bg-white">Роботов</span>
        </p>
    </div>
</div>
<br />
<hr />
<br />
<br />
<h4 class="text-center text-muted" id="ourApis">
    Наши веб-сервисы
</h4>
<br />
<hr />
<br />

<ul style="list-style-type:none">
    <li data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor2('a2')" id="a2">Esepte Komnata</h5></li>
    <li data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor2('b2')" id="b2">Esepte Ero</h5></li>
    <li data-toggle="collapse" data-target="#collapseTvelve" aria-expanded="true" aria-controls="collapseTvelve"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor2('c2')" id="c2">Esepte Gender</h5></li>
    @*<li data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="true" aria-controls="collapseFourteen"><h3 class="text-muted" style="cursor:pointer" onclick="changeColor2('d2')" id="d2">Esepte Color</h3></li>*@
</ul>
<br />


<div class="m-3 p-2 shadow-sm border rounded accordion" style="height: 130px;" id="accordionExample2">

    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample2">
        <p class="text-center p-2">
            <span style="font-size: 18px; font-weight:normal">Как выглядит кухня? А ванная?</span><br /><br />
            <a asp-action="Index" asp-controller="Komnata" class="btn btn-sm btn-primary">Демо</a>
        </p>
    </div>

    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample2">
        <p class="text-center p-2">
            <span style="font-size: 18px; font-weight:normal">Не хочешь создать второй Pornhub? Используй данный веб-сервис</span><br /><br />
            <a asp-action="Index" asp-controller="Ero" class="btn btn-sm btn-primary">Демо (18+)</a>
        </p>
    </div>

    <div id="collapseTvelve" class="collapse" aria-labelledby="headingTvelve" data-parent="#accordionExample2">
        <p class="text-center p-2">
            <span style="font-size: 18px; font-weight:normal">Их только две</span><br /><br />
            <a asp-action="Index" asp-controller="Gender" class="btn btn-sm btn-primary ">Демо</a>
        </p>
    </div>

    @*<div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample2">
            <p class="text-center p-2">
                Распознование основного цвета на фотографии

                <br />
                <a href="" class="btn btn-link">Демо</a>
            </p>
        </div>*@
</div>

<br />
<hr />
<br />


<p id="ourContacts">
    <a class="material-icons btn m-2 text-muted text-decoration-none" href="mailto:eseptehelp@gmail.com">email</a>
    <a class="material-icons btn m-2 text-muted text-decoration-none" href="tel:0552758177">call</a>
</p>

<script>
    function changeColor(id) {
        document.getElementById('a').className = "text-muted";
        document.getElementById('b').className = "text-muted";
        document.getElementById('c').className = "text-muted";
        document.getElementById('d').className = "text-muted";
        document.getElementById(id).className = "text-success";
    }

    function changeColor2(id) {
        document.getElementById('a2').className = "text-muted";
        document.getElementById('b2').className = "text-muted";
        document.getElementById('c2').className = "text-muted";
        //document.getElementById('d2').className = "text-muted";
        document.getElementById(id).className = "text-primary";
    }
</script>






