@{
    ViewData["Title"] = "Машинное обучение Бишкек, Искусственный интеллект Бишкек, Машинное обучение Кыргызстан, Искусственный интеллект Кыргызстан";
}
<br />
<br />

@*<br />
    <br />
    <h4 class="text-center text-muted" id="aboutUs">
        О нас
    </h4>
    <br />
    <hr />
    <br />*@

<h1 class="text-center bg-success p-5 text-white">
    Mашинное обучение для бизнеса<br />
    Всего за 500 сом/месяц<br />
    <a asp-action="Dev" asp-controller="Home" style="font-size:15px" class="text-white">Насколько это легко?</a>
</h1>

<hr />
<br />
<br />
<h4 class="text-center text-muted" id="ourServices">
    Наши услуги
</h4>

<p class="text-center p-2">
    <span class="btn btn-sm border bg-white text-success">Разработка</span>
    <span class="btn btn-sm border bg-white text-success">Внедрение</span>
    <span class="btn btn-sm border bg-white text-success">Поддержка</span>
    <span class="btn btn-sm border bg-white text-success">Обновление</span>
</p>

<br />

<div class="container">
    <div class="row row-cols-3">
        <div class="col m-2 border-success shadow rounded text-center">
            <p class="font-weight-bold">Классификация текста<p/>
            Классификация текстовых данных на несколько категорий,
            например прогнозирование того, являются ли
            комментарии позитивными или негативными.
        </div>

        <div class="col m-2 border-success shadow rounded text-center">
            <p class="font-weight-bold">Прогнозирование значений</p>
            Прогнозирование числовых значений на основе данных
            (регрессия), например, прогноз цены дома на основе
            таких признаков как размер, расположение и т.д.
        </div>

        <div class="col m-2 border-success shadow rounded text-center">
            <p class="font-weight-bold">Классификация изображений</p>
            Классификация изображений на несколько категорий,
            например прогнозирование того, содержит ли это
            изображение собаку или кошку.
        </div>

        <div class="col m-2 border-success shadow rounded text-center">
            <p class="font-weight-bold">Рекомендация</p>
            Создание списка предлагаемых элементов для
            определенного пользователься, например,
            рекомендуемые продукты.
        </div>

        <div class="col m-2 border-success shadow rounded text-center">
            <p class="font-weight-bold">Обнаружение объектов</p>
            Обнаружение и идентификация объектов
            на изображениях. Например, находит объекты
            (лодки, людей и диваны) на изображениях и
            заключает их в прямоугольники.
        </div>
    </div>
</div>
<br />
<br />
<br />

<div>
    <form asp-action="CreateMessage">
        <br />
        <h3>У меня есть</h3>
        <br />
        <div class="d-flex">
            <div class="form-check p-2 m-2">
                <input class="form-check-input" type="checkbox" value="" name="check1" id="check1">
                <label class="form-check-label" for="check1">
                    Сайт
                </label>
            </div>
            <div class="form-check p-2 m-2">
                <input class="form-check-input" type="checkbox" value="" name="check2" id="check2">
                <label class="form-check-label" for="check2">
                    Мобильное приложение
                </label>
            </div>
            <div class="form-check p-2 m-2">
                <input class="form-check-input" type="checkbox" value="" name="check3" id="check3">
                <label class="form-check-label" for="check3">
                    Инфосистема
                </label>
            </div>
            <div class="form-check p-2 m-2">
                <input class="form-check-input" type="checkbox" value="" name="check4" id="check4">
                <label class="form-check-label" for="check4">
                    Компьютерная программа
                </label>
            </div>
        </div>

        <br />
        <h3>Я хочу, чтобы</h3>
        <br />
        <div class="form-group">
            <textarea class="form-control" name="ClientWants" rows="3"></textarea>
        </div>
        <br />

        <div class="form-group">
            <input type="text" class="form-control" name="ClientContacts" placeholder="Номер телефона или email" />
        </div>
        <br />



        <div class="text-center">
            <input type="submit" class="btn btn-success px-5 pl-5" value="Заказать обратный звонок" />
        </div>
    </form>
</div>
@*<ul style="list-style-type:none">
        <li data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor('a')" id="a">Разработка</h5></li>
        <li data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor('b')" id="b">Внедрение</h5></li>
        <li data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor('c')" id="c">Поддержка</h5></li>
        <li data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor('d')" id="d">Развитие</h5></li>
    </ul>
    <br />


    <div class="m-3 p-2 accordion" style="height: 220px;" id="accordionExample">

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <p class="text-center p-2">
                <span style="font-size: 18px; font-weight:normal">Разработка машинного обучения для</span> <br /><br />
                <span class="btn btn-sm border bg-white text-success">Сайтов</span>
                <span class="btn btn-sm border bg-white text-success">Мобильных приложений</span>
                <span class="btn btn-sm border bg-white text-success">Инфосистем</span>
                <span class="btn btn-sm border bg-white text-success">Программных обеспечений</span>
                <span class="btn btn-sm border bg-white text-success">Роботов</span>
            </p>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <p class="text-center p-2">
                <span style="font-size: 18px; font-weight:normal">Внедрение машинного обучения для</span> <br /><br />
                <span class="btn btn-sm border bg-white text-success">Сайтов</span>
                <span class="btn btn-sm border bg-white text-success">Мобильных приложений</span>
                <span class="btn btn-sm border bg-white text-success">Инфосистем</span>
                <span class="btn btn-sm border bg-white text-success">Программных обеспечений</span>
                <span class="btn btn-sm border bg-white text-success">Роботов</span>
            </p>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <p class="text-center p-2">
                <span style="font-size: 18px; font-weight:normal">Поддержка машинного обучения для</span> <br /><br />
                <span class="btn btn-sm border bg-white text-success">Сайтов</span>
                <span class="btn btn-sm border bg-white text-success">Мобильных приложений</span>
                <span class="btn btn-sm border bg-white text-success">Инфосистем</span>
                <span class="btn btn-sm border bg-white text-success">Программных обеспечений</span>
                <span class="btn btn-sm border bg-white text-success">Роботов</span>
            </p>
        </div>

        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <p class="text-center p-2">
                <span style="font-size: 18px; font-weight:normal">Развитие машинного обучения для</span> <br /><br />
                <span class="btn btn-sm border bg-white text-success">Сайтов</span>
                <span class="btn btn-sm border bg-white text-success">Мобильных приложений</span>
                <span class="btn btn-sm border bg-white text-success">Инфосистем</span>
                <span class="btn btn-sm border bg-white text-success">Программных обеспечений</span>
                <span class="btn btn-sm border bg-white text-success">Роботов</span>
            </p>
        </div>
    </div>*@

<br />
<br />
<hr />
<br />
<br />
<h4 class="text-center text-muted" id="ourApis">
    Наши веб-сервисы
</h4>
<br />
<br />

<div>
    <br />
    <h1 class="text-center" style="font-weight:bolder">
        Esepte Marks
    </h1>
    <h4 class="text-center" style="font-weight:normal">Распознование марки автомобилей</h4>
    <br />

    <p class="text-center p-2">
        <span class="btn btn-sm border bg-white">Audi</span>
        <span class="btn btn-sm border bg-white">Bentley</span>
        <span class="btn btn-sm border bg-white">BMW</span>
        <span class="btn btn-sm border bg-white">Bugatti</span>
        <span class="btn btn-sm border bg-white">Ferrari</span>
        <span class="btn btn-sm border bg-white">Ford</span>
        <span class="btn btn-sm border bg-white">Honda</span>
        <span class="btn btn-sm border bg-white">Hyundai</span>
        <span class="btn btn-sm border bg-white">Jeep</span>
        <span class="btn btn-sm border bg-white">Lamborghini</span>
        <span class="btn btn-sm border bg-white">LandRover</span>
        <span class="btn btn-sm border bg-white">MercedecBenz</span>
        <span class="btn btn-sm border bg-white">RollsRoyce</span>
        <span class="btn btn-sm border bg-white">Tesla</span>
        <span class="btn btn-sm border bg-white">Toyota</span>
    </p>

    <br />
    <p class="text-center">
        <a asp-action="Index" asp-controller="Marks" class="btn border-success  text-success">Посмотреть</a>
    </p>
</div>
<br />

<div>
    <br />
    <h1 class="text-center" style="font-weight:bolder">
        Esepte Notice Property
    </h1>
    <h4 class="text-center" style="font-weight:normal">
        Классификация настоящих фотографий недвижимости от спама
    </h4>
    <br />

    <p class="text-center p-2">
        <span class="btn btn-sm border bg-white">2d планировака</span>
        <span class="btn btn-sm border bg-white">3d планировака</span>
        <span class="btn btn-sm border bg-white">логотип</span>
        <span class="btn btn-sm border bg-white">документ</span>
        <span class="btn btn-sm border bg-white">карта</span>
        <span class="btn btn-sm border bg-white">спам</span>
        <span class="btn btn-sm border bg-white">спам АН</span>
        <span class="btn btn-sm border bg-white">реальное</span>
    </p>

    <br />
    <p class="text-center">
        <a asp-action="Index" asp-controller="NoticeProperty" class="btn border-success  text-success">Посмотреть</a>
    </p>
</div>
<br />


<div>
    <br />
    <h1 class="text-center" style="font-weight:bolder">
        Esepte Gender
    </h1>
    <h4 class="text-center" style="font-weight:normal">Разпознавание пола человека на фотографии</h4>
    <br />

    <p class="text-center p-2">
        <span class="btn btn-sm border bg-white">М</span>
        <span class="btn btn-sm border bg-white">Ж</span>
    </p>

    <br />
    <p class="text-center">
        <a asp-action="Index" asp-controller="Gender" class="btn border-success  text-success">Посмотреть</a>
    </p>
</div>
<br />

<div>
    <br />
    <h1 class="text-center" style="font-weight:bolder">
        Esepte Ero
    </h1>
    <h4 class="text-center" style="font-weight:normal">Распознование фотографиий с содержанием непристойных материалов</h4>
    <br />

    <p class="text-center p-2">
        <span class="btn btn-sm border bg-white">18+</span>
        <span class="btn btn-sm border bg-white">нейтрально</span>
    </p>

    <br />

    <p class="text-center">
        <a asp-action="Index" asp-controller="Ero" class="btn border-success  text-success">Посмотреть</a>
    </p>
</div>


<!--<ul style="list-style-type:none">-->
@*<li data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor2('a2')" id="a2">Esepte Komnata</h5></li>*@
<!--<li data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor2('e2')" id="e2">Esepte Marks</h5></li>
    <li data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="true" aria-controls="collapseFourteen"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor2('d2')" id="d2">Esepte Notice Property</h5></li>
    <li data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor2('b2')" id="b2">Esepte Ero</h5></li>
    <li data-toggle="collapse" data-target="#collapseTvelve" aria-expanded="true" aria-controls="collapseTvelve"><h5 class="text-muted" style="cursor:pointer" onclick="changeColor2('c2')" id="c2">Esepte Gender</h5></li>
</ul>
<br />


<div class="m-3 p-2 rounded accordion" style="height: 230px;" id="accordionExample2">

    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample2">
        <p class="text-center p-2">
            <span style="font-size: 18px; font-weight:normal">"Как выглядит кухня?"</span><br /><br />
            <a asp-action="Index" asp-controller="Komnata" class="btn btn btn-success">Демо</a>
        </p>
    </div>

    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample2">
        <p class="text-center p-2">
            <span style="font-size: 18px; font-weight:normal">"Не хочешь создать второй Pornhub?"</span><br /><br />
            <a asp-action="Index" asp-controller="Ero" class="btn btn btn-success">Демо (18+)</a>
        </p>
    </div>

    <div id="collapseTvelve" class="collapse" aria-labelledby="headingTvelve" data-parent="#accordionExample2">
        <p class="text-center p-2">
            <span style="font-size: 18px; font-weight:normal">"Их только две"</span><br /><br />
            <a asp-action="Index" asp-controller="Gender" class="btn btn btn-success ">Демо</a>
        </p>
    </div>

    <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample2">
        <p class="text-center p-2">
            <span style="font-size: 18px; font-weight:normal">
                "Этичное объявление недвижимости"
            </span><br /><br />
            <a asp-action="Index" asp-controller="NoticeProperty" class="btn btn btn-success ">Демо</a>
        </p>
    </div>

    <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionExample2">
        <p class="text-center p-2">
            <span style="font-size: 18px; font-weight:normal">
                "Это BMW?"
            </span><br /><br />
            <a asp-action="Index" asp-controller="Marks" class="btn btn btn-success ">Демо</a>
        </p>
    </div>
</div>-->


<script>
    function changeColor(id) {
        document.getElementById('a').className = "text-muted";
        document.getElementById('b').className = "text-muted";
        document.getElementById('c').className = "text-muted";
        document.getElementById('d').className = "text-muted";
        document.getElementById(id).className = "text-success";
    }

    //function changeColor2(id) {
    //    //document.getElementById('a2').className = "text-muted";
    //    document.getElementById('b2').className = "text-muted";
    //    document.getElementById('c2').className = "text-muted";
    //    document.getElementById('d2').className = "text-muted";
    //    document.getElementById('e2').className = "text-muted";
    //    document.getElementById(id).className = "text-success";
    //}

</script>




<hr />
<br />
<br />
<h4 class="text-center text-muted" id="ourApis">
    Наши клиенты
</h4>
<br />

<div class="text-center m-3 p-2 rounded" style="height: 230px;">
    <div class="p-4">
        <a href="https://stroka.kg" class="text-decoration-none" target="_blank">
            <img src="~/images/stroka.kg.jpg" class="img-fluid shadow rounded" style="width:150px; height:80px; object-fit:cover" />
        </a>
    </div>
</div>


<hr />
<br />
<br />
<h4 class="text-center text-muted" id="ourContacts">
    Контакты
</h4>
<br />
<br />


<p class="text-center">
    <a class="material-icons btn m-2 text-muted text-decoration-none" href="mailto:eseptehelp@gmail.com">email</a> <a href="mailto:eseptehelp@gmail.com">eseptehelp@gmail.com</a>
    <a class="material-icons btn m-2 text-muted text-decoration-none" href="tel:0552758177">call</a> <a href="tel:0552758177">0552758177</a>
</p>